<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Not Found</title>
    <link href="/gone.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link href="/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
        <div class="inner">
          <h1>
            <a href="https://www.gov.uk" title="Go to the gov.uk homepage">
              <img src="govuk-logo.png" alt="GOV.UK">
            </a>
          </h1>
        </div>
      </div>
      <div id="message">
        <div class="inner">
          <div class="organisation <%= css %>">
            <a href="<%= homepage %>"><span><%= brand_title || title %></span></a>
          </div>

          <div id="detail">
            <h2>
              <strong><%= page_title %></strong>
              This page cannot be&nbsp;found
            </h2>

            <h3>404</h3>
            <p>Please check that you have entered the correct web address.</p>
            <p>The information you need may be found on <a href="https://www.gov.uk">GOV.UK</a>
                or in <a href="<?= 'http://webarchive.nationalarchives.gov.uk/<%=tna_timestamp%>/http://<%=host%>' ?>">The National Archives</a>.</p>
            <p><a href="https://www.gov.uk/support">Our support pages</a> have answers to the most common questions about GOV.UK.
            You can use the <a href="https://www.gov.uk/feedback/contact">contact form</a> to ask a question, report a problem or suggest an improvement.</p>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>
