<?php
include(dirname(__FILE__)."/../../lib/url.php");
$c14n_url = c14n_url($_SERVER['REQUEST_URI'], '<%= query_param = options ? options.sub(/^.*--query-string /, '') : "" %>');

$location_suggested_links = array();
$query_suggested_links = array();
$archive_links = array();

# generated php files
<%= IO.popen('
    site=' + site + '
    cd dist > /dev/null
    maps=maps/$site
    for file in $maps/*.php
    do
        if [ -f $file ] ; then
            echo "include(dirname(__FILE__).\"/../../$file\");"
        fi
    done
').readlines.join('') %>
/*
 *  archive link
 */
$archive_link = 'http://webarchive.nationalarchives.gov.uk/<%=tna_timestamp%>/http://<%=host%>' . $_SERVER['REQUEST_URI'];

if (isset($archive_links[$c14n_url])) {
  $archive_link = $archive_links[$c14n_url];
}

/*
 *  suggested link
 */
if (isset($location_suggested_link[$c14n_url])) {
    $suggested_link = $location_suggested_link[$c14n_url];
} else {
    preg_match("/(<%= query_param.sub(/[:, ]/, '|') %>)=\w+/i", $c14n_url, $matches);
    if (isset($matches[0]) && isset($query_suggested_link[$matches[0]])) {
        $suggested_link = $query_suggested_link[$matches[0]];
    }
}


?><!DOCTYPE html>
<html class="no-branding">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>410 - Page Archived</title>
    <link href="/gone.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link href="/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="banner" role="banner">
        <div class="inner">
          <h1>
            <a href="https://www.gov.uk">
              <img src="/govuk-logo.png" alt="GOV.UK">
            </a>
          </h1>
        </div>
      </div>
      <div id="message" role="main">
        <div class="inner">
          <div id="detail">
            <h2>
              <div class="organisation <%= css || "no-organisation" %>">
                <a href="<%= homepage %>"><span><%= title %></span></a>
              </div>
              <a href="<?= $archive_link ?>">This item has been archived</a>
            </h2>
            <p class="either-or">You can either</p>
            <p class="call-to-action"><a href="<?= $archive_link ?>">View the item you were looking for</a> in the UK Government Web Archive</p>
            <p class="either-or">or</p>
            <p class="call-to-action">Visit the new <%= title %> site at <a href="<%= homepage %>"><%= furl %></a></p>
<?php
if (isset($suggested_link)) {
echo "            <p class=\"either-or\">or</p>";
echo "            <p class=\"call-to-action\">Visit $suggested_link for more information on this topic.</p>";
}
?>
          </div>
          <div id="footer">
            <p><a href="https://www.gov.uk/support">Our support pages</a> have answers to the most common questions about GOV.UK.
            You can use the <a href="https://www.gov.uk/feedback/contact">contact form</a> to ask a question, report a problem or suggest an improvement.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
