<?php
    $archive_link = 'http://webarchive.nationalarchives.gov.uk/<%=tna_timestamp%>/http://<%=host%>' . $_SERVER['REQUEST_URI'];
?><!DOCTYPE html>
<html class="no-branding">
  <head>
    <meta charset="utf-8">
    <title>418 - Awaiting Content</title>
    <link href="/gone.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section id="content" role="main" class="group">
      <div class="gone-container">
        <header class="page-header group <%=site%>">
          <div class="legacy-site-logo"></div>
          <hgroup>
            <h1>This <%=title%> page <a href="https://www.gov.uk">GOV.UK</a> has not yet been published</h1>
          </hgroup>
        </header>

        <article role="article" class="group">
          <p>The <%=title%> website is being replaced by <a href='<%=new_url%>'><%=furl%></a> on <%=redirection_date%>.</p>
          <p>A copy of the page you were looking for may be found in <a href="<?= $archive_link ?>">The National Archives</a>.</p>
        </article>
      </div>
    </section>
  </body>
</html>
